<!DOCTYPE html>
<html lang="en">
<head>

  <!--Fonts -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
 .centra{
   text-align: center;
 }

    button {
      margin: 0 3px 10px 0;
      padding-left: 2px;
      padding-right: 2px;
      width: 99px;
    }

    button:last-of-type {
      margin: 0;
    }

    p.borderBelow {
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;
    }

    video:last-of-type {
      margin: 0 0 20px 0;
    }

    video#gumVideo {
      margin: 0 20px 20px 0;
    }

    .redimensiona{
      max-height: 180px;
      max-width: 300px;
    }


    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    #Div {
      margin-top: 60px;
      border: 2px solid black;
    }
    #Div1 {
      margin-left:50px !important;
      border: 1px solid #b21f2d;
    }

    .bcg{
      background-color: #444444;
      text-align: center;
    }

    .bcg1{
      background-color: #eeeeee;
    }

    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

    }
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }
    
    video {
      /*min-height: 360px;*/
      /*min-width: 640px;*/
      width: 100%;
      height: 60%;
      object-fit: cover;
      margin: auto;
      /*padding-left: 100px;*/
      /*padding-right: 100px;*/
      margin-left: 300px !important;
    }

    .ajusta{
      padding-top: 50px;
    }

    #recorded.redimensiona{
      margin-left: 0px !important;
    }

    .texto{
      font-weight: 300;
    }
  </style>
</head>
<body class="bcg">
<div class="container bcg1">
  <h1 class="texto ajusta"> Video-chamada</h1>
  <div class=" ajusta" id="video-grid">
  </div>
  <div class=" " id="container">
    <div class="centra">
    <h1 class="ajusta texto ">Gravação</h1>
    <video class="redimensiona" id="gum" playsinline autoplay muted></video>
    <video class="redimensiona" id="recorded" playsinline loop></video>
    </div>
    <div>
      <button  id="start">Start camera</button>
      <button  id="record" disabled>Start Recording</button>
      <button  id="play" disabled>Play</button>
      <button  id="download" disabled>Download</button>
    </div>

    <div>
      Recording format: <select id="codecPreferences" disabled></select>
    </div>
    <div>
      <h4>Media Stream Constraints options</h4>
      <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
    </div>

    <div>
      <span id="errorMsg"></span>
    </div>

    <a href="http://localhost/EDesta/chat.php">De volta para chat</a>

  </div>


</div>






</body>
</html>